.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../image/edit-button.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  margin: 20px auto auto 19px;
}
