.popup__container {
  padding-top: 155px;
  display: grid;
  grid-template-columns: 450px 40px;
  grid-template-rows: 40px 330px;
  max-width: 470px;
  margin: 0 auto;
}

@media screen and (max-width:600px) {
  .popup__container {
    display: flex;
    flex-direction:column-reverse;
    max-width: 282px;
    padding-top: 87px;
  }
}
