.popup__container-form {
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  grid-row: 2;
  justify-self: end;
}

@media screen and (max-width:600px) {
  .popup__container-form {
    width: 282px;
    height: 322px;
  }
}
