.popup__container-form-close-button {
  background-image: url(../../../image/Close\ Icon.png);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 32px;
  height: 32px;
  grid-column: 2;
  justify-self: end;
}

@media screen and (max-width:600px) {
  .popup__container-form-close-button {
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
    background-size: contain;
    align-self: flex-end;
  }
}
